
body {

    background-image: url(".././img/background_page.png");
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

p {
    margin: 2%;
    border: solid;
    /*width: 100%;*/
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: lightgreen;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    text-align: center;
}

.nav_bar {
    top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.buttons {
    border: solid;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffff0d;
}

span.selected a {
    background-color: greenyellow;
}

.buttons:hover {
    background-color: green;
}

.header {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.logo_img {
    overflow: hidden;
}

.logo_img img {
    height: 150px;
}

span.logo_text {
    display: inline-block;
    width: 37%;
    background-color: lightgreen;
    border: solid;
    color: black;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    vertical-align: top;
    text-align: center;
    font: bold 230% 'cenury gothic', Arial;
}

.site_content {
    display: block;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
}

.header {
    height: auto;
}

.left_bar {
    margin-left: -20%;
    position: fixed;
    width: 20%;
    display: inline-block;
}

.left_bar div {
    margin: 30px;
}

.comments {
    padding-bottom: 5px;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin-top: 10px;
    height: 300px;
    background-color: lightgreen;
    border: solid;
    border-radius: 5px;
}

.comments h4 {
    bottom: 0;
    width: 98%;
    margin-top: 3px;
    text-align: center;
    color: black;
}

.comments a {
    color: darkblue;
    width: 100%;
}

.comments::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #aaa;
    color: black;
}

.content {
    display: block;
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    float: left;
    margin-bottom: 2px;
}

.right_bar {
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1%;
    position: fixed;
    width: 20%;
    /*height: 200px;*/
    /*background-color: red;*/
    float: left;
}

.register_form {
    margin-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    background-color: lightgreen;
    border: solid;
    border-radius: 10px;
}

.register_form input:not(.buttons) {
    border: solid;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    width: 90%;
}

.login_win {
    height: 160px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    background-color: lightgreen;
    border: solid;
    border-radius: 10px;
}

input:not(.buttons) {
    margin-top: 15px;
    border-radius: 5px;
    border: solid;
    padding: 5px;
    width: 90%;
}

input.buttons {
    margin-top: 15px;
}

input.buttons {
    margin-top: 15px;
}

input.email {
    margin-top: 30px;
}

input.textarea {
    border: solid;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.footer {
    bottom: 0;
    display: block;
    /*vertical-align: bottom;*/
    width: 100%;
    text-align: center;
}

.footer a {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px;
    border: solid;
    color: black;
}