* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
    text-align: center;
    height: 100px;
    padding-bottom: 10px;
    font-size: 50px;
    margin-bottom: 60px;
}

header a {
    text-decoration: none;
    color: #136cb2;
    text-shadow: 4px 4px 4px #aaa;
}

section div {
    margin-top: 2px;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

h4 {
    padding-top: 4px;
    color: blue;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    width: 80px;
}

.left p {
    text-align: center;
    margin: 2px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
}

.left p:hover {
    color: black;
    border: 2px solid blue;
    background-color: white;
}

.ins_menu {
    /*display: none;*/
}

#video {
    opacity: 0.3;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.logo_img {
    width: 100px;
}

#top_nav {
    color: white;
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    top: 110px; /*высота шапки в пикселях*/
    position: fixed;
    background-clip: content-box;
}

.button {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
}

.button:hover {
    border-color: blue;
    color: white;
}

.submit {
    background-color: white;
    border: solid black 2px;
    border-radius: 4px;
    padding: 3px;
    margin-top: 4px;
    width: 95%;
}

.submit:hover {
    border: blue 2px solid;
    color: blue;
}

.form {
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 95%;
    border: solid 2px black;
    border-radius: 4px;
    padding: 3px;
}

textarea {
    height: 200px;
}

.left {
    width: 25%;
    float: left;
}

.center {
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.center img {
    border-radius: 20px;
}

.right {
    box-sizing: border-box;
    margin-top: 2px;
    width: 25%;
    float: right;
}

.inf {
    margin: 0;
    padding: 0;
    border: none;
}

.inf img {
    width: 100%;
}

footer {
    padding: 4px;
    text-align: center;
    background-color: darkgrey;
    overflow: auto;
    width: 100%;
}